#disqus_thread {
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

#site-title, #site-footer h1 a{
  font-family: 'Pacifico';
  text-transform: none;
  font-size: 3em;
}

#site-footer h1 a{
  font-size: 1em;
}